.main {
    background: linear-gradient(120deg,#2C3E50,#000);
}

.markdown {
    border-radius: 10px;
}
.markdown table, .markdown th,.markdown td {
    border: 1px solid white;
    padding: 10px;
}


.markdown img {
    max-width: 100%;
    height: auto;
}